.container {
  padding-top: 1rem;
  padding-bottom: 4rem;
  background-image: linear-gradient(
    white,
    rgb(218, 255, 254) 60%,
    white
  );
  font-family: 'Roboto', sans-serif;
}

.skills {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-shadow: 5px 5px 5px rgba(1, 1, 28, 0.3);
}

@media (max-width: 1200px) {
  .skills {
    font-size: 1rem;
  }

  .title {
    font-size: 2.2rem;
  }
}

@media (max-width: 992px) {
  .container {
    padding-bottom: 2.5rem;
  }

  .skills {
    margin-bottom: 1.7rem;
  }
}

@media (max-width: 768px) {
  .skills {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 576px) {
  .container {
    padding-top: 0;
  }

  .skills {
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.7rem;
  }
}